header {
    height: 50px;
}

header:after {
    content: '';
    clear: both;
    display: table;
}

.portfolio-wrapper {
    text-align: center;
    border: 1px solid #Fff;
    background: #F7F7F7;
}

.portfolio-wrapper img{
    width: 135px;
    height: 100px;
}

.full-button {
    width: 100%;
    margin: 0 0 5px 0;
}

.no-padding {
    padding: 0;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-default .navbar-nav > .active > a {
    background: #337ab7;
    color: #fff;
}

.navbar-default .navbar-nav > li > a {
    text-transform: capitalize;
}

.clear {
    clear: both;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}